* {
  scrollbar-color: #073450 #005380; //Mozilla
  scrollbar-width: thin; //Mozilla

  //Safari & Chrome
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #005380;
    box-shadow: 0px 1px 1px 1px #005380;
  }

  ::-webkit-scrollbar-thumb {
    background: #073450;

    &:hover {
      background: #026fb3;
    }
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Electrolize', sans-serif;
  color: $light-font-color !important;
  @include backgroundImage('../assets/images/zombie-theater2.jpg');
}

.wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  @include linearGradient(141deg, #000 0%, #0368b399 51%, #0009 92%);
}

.modal-content {
  margin-top: 40%;

  #confirm-modal {
    background-color: #1c4b69;

    .modal-title {
      margin: 20px;
      text-align: center;
    }

    .modal-header,
    .modal-footer {
      border-color: #e9ecef1a;
    }

    .close {
      background-color: #fff0;
      color: white;
    }

    .btn {
      margin: 0 auto;
      margin-right: auto;
      width: 30%;
    }
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

input:invalid {
  box-shadow: none !important;
}

input:required {
  box-shadow: none !important;
}

.form-control {
  background-color: #fffc;
  color: #114b84;
}

.btn-primary {
  background-color: #076edd;
  border-color: #0258b4;

  &:hover {
    background-color: #0696ff;
  }
}

.btn-danger {
  background-color: #81212ae6;
  border-color: #83232c;
}

.btn-light {
  border: 1px solid #ced4da;
  background-color: #f8f9facc;

  &:hover {
    background-color: #f6f7f8;
  }
}

.btn-success {
  background-color: #28a75fcc;
}

.nav-link.active {
  background-color: #10407780 !important;
  border: none !important;
  color: $font-color !important;
}

.nav-item.nav-link {
  cursor: pointer;

  &:hover {
    border-color: transparent;
  }
}

.nav-tabs {
  border-color: transparent;
}

.tab-pane {
  display: block !important;
}

@media only screen and (min-width: 1200px) {
  .home-container {
    max-width: 1300px;
  }
}

@media only screen and (max-width: 576px) {
  .stars {
    font-size: 14px;
  }
}
