@import url('https://fonts.googleapis.com/css?family=Electrolize');

%image-shared {
  position: relative !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

%shared-row {
  font-size: 14px !important;
  text-align: center !important;
  padding: 10px !important;
  display: block !important;
  margin-top: 20px !important;
}
